<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>

<body>
	<form action="/submit" enctype="multipart/form-data" method="post">
		<input type="file" name="upload" multiple>
		<input type="submit" value="Upload">
	</form>
</body>
</html>
